---
BasedOnStyle: Google

# these make really long builder calls tolerable
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
---
